<div style="display: flex;">
    <nb-card>
        <nb-card-header>
            Gestion de Projet
        </nb-card-header>
        <nb-card-body>
            <div>
                <nb-card>
                    <nb-card-header>
                        Ajouter des membres
                    </nb-card-header>
                    <nb-card-body>
                        <p>Liste de participant</p>
                        <div>
                            <nb-list *ngFor='let participation of projet.utilisateurMembres'>
                                <nb-list-item>
                                    {{participation.utilisateur.pseudo}}
                                    <input nbButton type="submit" value="Supprimer" (click)="supprimer(participation.utilisateur.mail)">
                                </nb-list-item>
                            </nb-list>
                        </div>
                        <div [formGroup]="controleDeMail">
                            <input nbInput type="text" placeholder="Ajouter collaborateur" [(ngModel)]="nouveauMail" formControlName="mail" >
                            <input nbButton type="button" value="Ajouter le collaborateur" [disabled]="nouveauMail == null" (click)="ajouterDesCollaborateur()">
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div>
               <nb-card>
                   <nb-card-header>
                    Ajouter des Etapes Workflows
                   </nb-card-header>
                   <nb-card-body>
                       <nb-list>
                           <nb-list-item *ngFor="let worflow of projet.etapeWorkflows">
                                {{worflow.nom}}
                           </nb-list-item>
                       </nb-list>
                   </nb-card-body>
               </nb-card>
            </div>
            
        </nb-card-body>
    </nb-card>
</div>  
