<!--                1 tache-->
<nb-card class="tacheClass">
    <nb-card-header>
        <div class="tacheHeader">
            <h6 (click)="showDetails()" class="tacheNomClass">{{tache.id}} : {{tache.nom}}</h6>
            <div *ngIf="tache.tacheEnfants.length != 0">
                <nb-icon *ngIf="!estDetail" (click)="clickDetails(true)"  status="info" icon="arrow-circle-down-outline"></nb-icon>
                <nb-icon *ngIf="estDetail" (click)="clickDetails(false)" status="warning" icon="arrow-circle-up-outline"></nb-icon>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p>Responsable:
            <label *ngIf="estTacheAssignee" class="tacheResponsableClass">{{tache.utilisateurAffecte.pseudo}}</label>
            <label *ngIf="!estTacheAssignee" class="tacheAucunResponsableClass">aucun</label>
        </p>
        <p>{{tache.estimationTemps}} ({{tache.uniteDeTemps}})</p>
        <div *ngIf="estDetail">
            <app-tache-etape-workflow *ngFor="let te of tache.tacheEnfants" [tache]="te" [estProgression]="estProgression" [estDetail]="estDetail" [membresProjet]="membresProjet" (outputProjet)="updateProjet($event)"></app-tache-etape-workflow>
        </div>
        <button (click)="showDetails()" nbButton>Detail</button>
    </nb-card-body>
    <nb-card-footer>
        <div *ngIf="estProgression && tache.tacheEnfants.length != 0">
            <nb-progress-bar [value]="progression" status="success"></nb-progress-bar>
        </div>
        <button nbButton (click)="supprimerTache(tache.id)" >Supprimer</button>
        <button nbButton (click)="CreationDeTacheParent(tache.id)"> Créer une tache-enfants </button>
    </nb-card-footer>
</nb-card>
