<!--        1 colonne-->
<nb-card class="etapeClass">
    <nb-card-header>
        <div class="etapeHeader">
            <h5>{{etape.nom}}</h5>
            <nb-toggle [checked]="true" (checkedChange)="toggle($event)" status="success">Progression</nb-toggle>
            <div>
                <nb-icon *ngIf="!allDetails" (click)="clickAllDetails(true)"  status="info" icon="arrow-circle-down-outline"></nb-icon>
                <nb-icon *ngIf="allDetails" (click)="clickAllDetails(false)" status="warning" icon="arrow-circle-up-outline"></nb-icon>
                <label> Details</label>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="etape.taches != null">
            <app-tache-etape-workflow *ngFor="let t of etape.taches" [tache]="t" [estProgression]="estProgression" [estDetail]="allDetails" [membresProjet]="membreProjet" [idEtapeSuivante]="idEtapeSuivante" [idDerniereEtape]="idDerniereEtape" (outputProjet)="updateProjet($event)"></app-tache-etape-workflow>
        </div>
    </nb-card-body>
    <nb-card-footer >
        <div class="etapeFooter">
            <button disabled nbButton>Créer une tache</button>
    <!--        TODO: Damien a supprimer au changement drag-and-drop-->
            <div>
                <button nbButton (click)="dragOrdre(etape,-1)"><nb-icon icon="minus-square-outline"></nb-icon></button>
                <label>Changer Ordre</label>
                <button nbButton (click)="dragOrdre(etape,1)"><nb-icon icon="plus-square-outline"></nb-icon></button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
