.optionClass{
  text-align: right;
  padding-right: 10%;
}

button{
  margin: 1%;
}

.buttonsHead{
  text-align: center;
}



.bodyClass{
  display: flex;
}

.tacheHeader{
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.tacheHeader:hover{
  background-color: darkslateblue;
  cursor: pointer;
}

nb-icon{
 margin-right: 5%;
  margin-left: 5%;
}

.etapeHeader{
  display: flex;
  flex-direction: row;
  margin: 2%;
}
