.optionClass{
  text-align: right;
  padding-right: 10%;
}

button{
  margin: 1%;
}

.buttonsHead{
  text-align: center;
}

.bodyClass{
  display: flex;
  flex-direction: row;
}

.etape{
  display: flex;
  flex-direction: row;
}
