input, button {
  display: block;
  margin: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.carte{
  display: inline-grid;
  margin: 8px 8px;
}

nb-icon{
  margin-right: 7%;
  margin-left: 7%;
}

.retour{
  align-self: flex-end;
}
