<div style="display: flex;" >
     <nb-card>
        <nb-card-header>
            Ajouter Tache
        </nb-card-header>
        <nb-card-body>
            <form [formGroup]="AjouterTache" (ngSubmit)="validation()">
                <div class="carte">
                    <div class="carte">
                        <label>Libélé</label>
                        <input nbInput type="text" placeholder="Nom de la tache" formControlName="libele">
                    </div>
                    <div class="carte">
                        <label>Description de la tache (*)</label>
                        <input nbInput type="text" placeholder="Description de la tache" formControlName="description">
                    </div>
                    <div class="carte">
                        <label> Priorité </label>
                        <nb-select placeholder="Priorité" [(selected)]="valeurPrioritaire" formControlName="priorite">
                            <nb-option value="minoritaire">minoritaire</nb-option>
                            <nb-option value="faible">faible</nb-option>
                            <nb-option value="moyenne">moyenne</nb-option>
                            <nb-option value="haute">haute</nb-option>
                            <nb-option value="urgent">urgent</nb-option>
                        </nb-select>
                    </div>
                    <div class="carte">
                        <label>Estimation de temps</label>
                        <input nbInput placeholder="Nombre" type="number" formControlName="estimation">
                    </div>
                    <div class="carte">
                        <label>Unite de Temps</label>
                        <nb-select placeholder="Unite de temps" [(selected)]="valeurUnite" formControlName="unite">
                            <nb-option value="Storypoint">Storypoint</nb-option>
                            <nb-option value="Heure">Heure</nb-option>
                            <nb-option value="Jour">Jour</nb-option>
                        </nb-select>
                    </div>
                    <div class="carte">
                        <label>(*) : Non requis </label>
                    <input nbButton type="submit" [disabled]="!AjouterTache.valid" value="Valider la tache">
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>