<nb-actions>
        <nb-action title="Accueil">
                <h2 routerLink="/home">PPG project V2</h2>
        </nb-action>

        <nb-action *ngIf="!currentUser" routerLink="/login" class="fill-space" title="Mon Profile" icon="person-outline">
        </nb-action>


        <nb-action *ngIf="currentUser" title="{{currentUser.pseudo}}">
                <nb-user name="{{currentUser.pseudo}}"
                picture="{{currentUser.urlPhoto}}"
                ></nb-user>
        </nb-action>
        <nb-action *ngIf="currentUser" routerLink="/utilisateur" class="fill-space" title="Mes projets" icon="list-outline"></nb-action>
        <nb-action *ngIf="currentUser" (click)="deconnexion()"  class="fill-space" title="Deconnexion" icon="power-outline"></nb-action>
</nb-actions>
